<a href="https://colab.research.google.com/github/Zeknous/Case-Based-2/blob/main/CaseBased2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# import library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

#Data dibawah terdiri dari 167 rows dengan 10 column

In [22]:
df = pd.read_csv('https://github.com/Zeknous/Case-Based-2/blob/9a55fd6ae3ef3d442b4832d97250611cdcecb1c4/Archive/Country-data.csv?raw=true')
df

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...,...
162,Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
163,Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
164,Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
165,Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
166,Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     167 non-null    object
 1   child_mort  167 non-null    float64
 2   exports     167 non-null    float64
 3   health      167 non-null    float64
 4   imports     167 non-null    float64
 5   income      167 non-null    int64
 6   inflation   167 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    float64
 9   gdpp        167 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.2+ KB

In [24]:
df_describe = df.describe()
df_describe

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,38.270060,41.108976,6.815689,46.890215,17144.688623,7.781832,70.555689,2.947964,12964.155689
std,40.328931,27.412010,2.746837,24.209589,19278.067698,10.570704,8.893172,1.513848,18328.704809
min,2.600000,0.109000,1.810000,0.065900,609.000000,-4.210000,32.100000,1.150000,231.000000
25%,8.250000,23.800000,4.920000,30.200000,3355.000000,1.810000,65.300000,1.795000,1330.000000
50%,19.300000,35.000000,6.320000,43.300000,9960.000000,5.390000,73.100000,2.410000,4660.000000
75%,62.100000,51.350000,8.600000,58.750000,22800.000000,10.750000,76.800000,3.880000,14050.000000
max,208.000000,200.000000,17.900000,174.000000,125000.000000,104.000000,82.800000,7.490000,105000.000000

#Preprocessing

Data akan diperiksa pada tahap ini agar bersih dan berguna untuk diproses.

#Mengecek duplikasi data

In [25]:
df_duplicated = df.duplicated()
df_duplicated.sum()

0

#Mengecek data kosong

In [26]:
df.isna().sum()

country       0
child_mort    0
exports       0
health        0
imports       0
income        0
inflation     0
life_expec    0
total_fer     0
gdpp          0
dtype: int64

#Min-Maxing data

In [27]:
def min_max_scaling(df) :
    return (df.iloc[:,1:10] - df.iloc[:,1:10].min()) / (df.iloc[:,1:10].max() - df.iloc[:,1:10].min())

In [28]:
df_scaling = min_max_scaling(df)
df_scaling

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,0.426485,0.049482,0.358608,0.257765,0.008047,0.126144,0.475345,0.736593,0.003073
1,0.068160,0.139531,0.294593,0.279037,0.074933,0.080399,0.871795,0.078864,0.036833
2,0.120253,0.191559,0.146675,0.180149,0.098809,0.187691,0.875740,0.274448,0.040365
3,0.566699,0.311125,0.064636,0.246266,0.042535,0.245911,0.552268,0.790221,0.031488
4,0.037488,0.227079,0.262275,0.338255,0.148652,0.052213,0.881657,0.154574,0.114242
...,...,...,...,...,...,...,...,...,...
162,0.129503,0.232582,0.213797,0.302609,0.018820,0.063118,0.609467,0.370662,0.026143
163,0.070594,0.142032,0.192666,0.100809,0.127750,0.463081,0.854043,0.208202,0.126650
164,0.100779,0.359651,0.312617,0.460715,0.031200,0.150725,0.808679,0.126183,0.010299
165,0.261441,0.149536,0.209447,0.197397,0.031120,0.257000,0.698225,0.555205,0.010299
166,0.391918,0.184556,0.253574,0.177275,0.021473,0.168284,0.392505,0.670347,0.011731

#Menggunakan method K-means

##Centroid awalan

In [29]:
centroid = np.random.rand(3,9)
print(centroid)

[[0.6261617  0.71078567 0.27941625 0.48146626 0.05880472 0.22039825
  0.61641607 0.07745893 0.95979229]
 [0.4843729  0.08885219 0.31002941 0.35950926 0.94324362 0.46393967
  0.64495511 0.4722871  0.37472188]
 [0.2444596  0.20258452 0.38990417 0.47344512 0.39626909 0.03275327
  0.30262644 0.98923443 0.20893374]]

##Perhitungan jarak

In [30]:
def key_sort(arr):
  return arr[0]

In [31]:
def euclidean(countryData,centroid):
  jarakArr = []
  for i in range(len(centroid)):
    sum = 0
    for j in range(len(countryData)):
      sum += (countryData[j]-centroid[i][j])
    # jarak dimasukkan ke dalam jarakArr untuk setiap centroid dengan indeks ke-i
    jarakArr.append([math.sqrt(sum),i])
    # data jarak disorting berdasarkan elemen pertama (jarak)
    jarakArr.sort(key=key_sort)
  return jarakArr

In [32]:
print(df_scaling.loc[0])

child_mort    0.426485
exports       0.049482
health        0.358608
imports       0.257765
income        0.008047
inflation     0.126144
life_expec    0.475345
total_fer     0.736593
gdpp          0.003073
Name: 0, dtype: float64